:root {
    --columns-row: 2;
  }

  body {
    background-color: aquamarine;
  }

  h1 {
    font-size: 84px;
    color: #e6be8a;
    font-weight: bold;
    text-shadow: 2px 2px white;
    display: flex;
    justify-content: center;
  }

 .wrapper {
    display: flex;
    color: #e6be8a;
    font-weight: bold;
    text-shadow: 2px 2px white;
    justify-content: space-evenly;
    font-size: 24px;
  }
 
  
  #container {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 950px;
    height: 950px;
    background-color: whitesmoke;
  }
  
  .grid-item {
    padding: .25em;
    border: 1px solid #000;
  }


  .slider {
    width: 100%; /* Full-width */
    height: 50px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 500px; /* Set a specific slider handle width */
    height: 250px; /*Slider handle height */
    background: #04AA6D; 
    cursor: pointer; /* Cursor on hover */
  }